[submodule "SandraKilpatrick"]
	path = SandraKilpatrick
	url = https://github.com/SandraKilpatrick/bike_data.git
[submodule "JeffMcGehee"]
	path = JeffMcGehee
	url = https://github.com/jlmcgehee21/cds_bike_data_project.git
[submodule "jeff_mcgehee"]
	path = jeff_mcgehee
	url = https://github.com/jlmcgehee21/cds_bike_data_project.git
